**Resources reporting on a block model**

In [4]:
# import sys
# sys.path.insert(0,r'C:\HVS\Devs\Python\packages\automod\package')
import automod as ct
import pandas as pd
import numpy as np

In [5]:
mined_out = {  
    'MinedCode': [[0]]
}

classif_code = {
    'ClassCode':[[1],[2],[1,2],[3],[1,2,3]],
}

otype_code = {
    'TypeCode':[['Oxd'],['Sul'], ['Oxd', 'Sul']],
}

vars = {
    'SEN02_Ag':{'unit':'gpt'},
    'SEN02_Au':{'unit':'gpt'},
    'SEN02_Pb':{'unit':'pct'},
    'SEN02_Zn':{'unit':'pct'},
    'SEN02_AgEq':{'unit':'gpt'},
} 

cutoff_col = 'SEN02_AgEq'
density_col = 'SG'
cutoff = 135

In [6]:
df = pd.read_csv(f'SRK_SanNicolas_OCTR.csv')

model = ct.BM(df=df,x='X',y='Y',z='Z', dx='dX',dy='dY',dz='dZ')
report = model.report(
            vars=vars,
            cutoff=cutoff, 
            cutoff_col=cutoff_col,
            density_col=density_col,
            mined_out=mined_out,
            classif_code=classif_code,
            otype_code=otype_code
            )

#report.to_csv('resource_report.csv',index=False)
report

,otype,classif,mass_kt,SEN02_Ag_gpt,SEN02_Au_gpt,SEN02_Pb_pct,SEN02_Zn_pct,SEN02_AgEq_gpt,MET_SEN02_Ag_oz,MET_SEN02_Au_oz,MET_SEN02_Pb_oz,MET_SEN02_Zn_oz,MET_SEN02_AgEq_oz
0,['Oxd'],[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,['Oxd'],[2],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,['Oxd'],"[1, 2]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,['Oxd'],[3],39.899813,199.522806,0.152658,NaN,NaN,212.452957,255.949604,0.195831,NaN,NaN,272.536514
0,['Oxd'],"[1, 2, 3]",39.899813,199.522806,0.152658,NaN,NaN,212.452957,255.949604,0.195831,NaN,NaN,272.536514
0,['Sul'],[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,['Sul'],[2],10.819031,104.838823,0.030380,1.420513,1.730731,177.288063,36.467129,0.010567,0.153686,0.187248,61.667868
0,['Sul'],"[1, 2]",10.819031,104.838823,0.030380,1.420513,1.730731,177.288063,36.467129,0.010567,0.153686,0.187248,61.667868
0,['Sul'],[3],110.135125,183.539189,0.093193,1.121790,1.308172,245.623982,649.898777,0.329991,1.235485,1.440757,869.736465
0,['Sul'],"[1, 2, 3]",120.954156,176.499648,0.087575,1.148510,1.345969,239.511514,686.365906,0.340559,1.389171,1.628006,931.404332
0,"['Oxd', 'Sul']",[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"['Oxd', 'Sul']",[2],10.819031,104.838823,0.030380,1.420513,1.730731,177.288063,36.467129,0.010567,0.153686,0.187248,61.667868
0,"['Oxd', 'Sul']","[1, 2]",10.819031,104.838823,0.030380,1.420513,1.730731,177.288063,36.467129,0.010567,0.153686,0.187248,61.667868
0,"['Oxd', 'Sul']",[3],150.034938,187.789821,0.109007,NaN,NaN,236.802585,905.848380,0.525822,NaN,NaN,1142.272978
0,"['Oxd', 'Sul']","[1, 2, 3]",160.853969,182.210541,0.103719,NaN,NaN,232.799641,942.315510,0.536390,NaN,NaN,1203.940846